* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.logo {
  display: flex;
  flex: 0 0 auto;
  height: 36px;
  margin-top: 6px;
  -webkit-box-align: center;
  align-items: center;
}
header {
  background-color: rgb(248, 249, 250);
  height: 48px;
  padding: 0 16px 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  z-index: 2;
}
.header-wrapper {
  display: flex;
  align-items: center;
  min-height: 100%;
  gap: 16px;
}
header nav {
  flex: 2 1 400px;
}
header a {
  color: dimgray;
}
header a:visited {
  color: dimgray;
}
footer {
  background-color: #fff;
  height: 32px;
  padding: 0 24px 0 24px;
  width: 100%;
}
.tran-button,
.item-button {
  display: flex;
  appearance: none;
  text-align: center;
  justify-content: center;
  -webkit-box-align: center;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: none;
  color: #3c4043;
  cursor: pointer;
  height: 36px;
  min-width: 154px;
}
#selecter {
  color: #3c4043;
  width: 154px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: none;
}
.translated {
  width: 100%;
  height: 48px;
}
.tran-message {
  display: flex;
}
.tran-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tran-text-span,
.tran-text-img {
  margin-left: 16px;
}
.tran-button {
  align-items: center;
  color: #1a73e8;
  margin: auto;
  margin-right: 16px;
}

.fullscreen-img {
  background-image: url(../io-promo-2023-badge.svg), url(../io-promo-2023.png);
  background-repeat: no-repeat;
  background-size: 300px auto, auto 100vh;
  background-position: top 38px left 38px, top right;
  background-color: #202124;
  width: 100vw;
  z-index: 1;
}
.fullscreen-img,
.row-html {
  height: calc(100vh - 48px);
}

.row-html {
  display: flex;
  align-items: end;
}

.fullscreen-item {
  background-color: #fff;
  border: 1px solid #dadce0;
  align-items: center;
  border-radius: 4px;
  color: #3c4043;
  padding: 24px;
  z-index: 1;
  max-width: 500px;
  max-height: 400px;
  margin: 0 0 24px 24px;
}

.fullscreen-item h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 64px;
  margin: 48px 0 24px;
  color: #202124;
  margin-block: unset;
}

.fullscreen-item p {
  margin-block: 24px;
  margin: 16px 0;
  padding: 0;
  font-size: 20px;
}

.item-button {
  align-items: center;
  margin-top: 48px;
  background-color: #f9ab00;
  border: 1px solid #202124;
  color: #202124;
}
.interest-container {
  background-color: #f1f3f4;
}
.interest-search {
  height: 48px;
}
.interest-search.btn {
  background-color: #fff;
}
.interest-search button {
  margin-left: 8px;
}

.img-container img {
  width: 5rem;
}
.logos-col {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container {
  width: 100%;
}
.logo-container {
  width: 100%;
}
.products-link {
  min-height: 188px;
}

.sticky {
  position: sticky;
  bottom: 0;
  z-index: -1;
}
.card {
  max-width: 25vw;
  min-width: 20rem;
  height: 240px;
  margin: 0;
}
.interest-search-cards {
  display: flex;
  gap: 24px;
}
.card-title {
  color: #1a73e8;
  cursor: pointer;
}
.footer-porducts {
  height: 32px;
  width: 100%;
  background-color: #fff;
}
.footer-porducts-ul {
  height: 100%;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.footer-porducts-item {
  margin-left: 40px;
}
.footer-porducts-item a {
  color: #202124;
  text-decoration: none;
  text-align: center;
  height: 100%;
}
.search-in {
  background-color: #dadce0;
}
@media screen and (max-width: 1300px) {
  .hd-item-5 {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .row-html,
  .fullscreen-item {
    max-width: 80vw;
    max-height: 500;
  }
  .hd-item-6 {
    display: none;
  }
  .footer-porducts-nav {
    flex-direction: column;
  }
  .footer-porducts-ul {
    flex-direction: column;
  }
  li.footer-porducts-item {
    margin-top: 8px;
    margin-left: 8px;
  }
}

.header-menu {
  display: none;
}
.header-menu-item {
  height: 47px;
}
.header-menu-item a {
  text-decoration: none;
  color: #3c4043;
}
.header-menu-item a:visited {
  color: #3c4043;
}
@media screen and (max-width: 1000px) {
  .hd-item-1,
  .hd-item-2,
  .hd-item-3,
  .hd-item-4 {
    display: none;
  }
  .header-menu {
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  .logos-header-title {
    font-size: 8vw;
  }
  .row-html,
  .fullscreen-item {
    max-width: 94vw;
  }

  .fullscreen-item h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    margin: 24px 0 12px;
  }

  .fullscreen-item p {
    margin-block: 12px;
    margin: 8px 0;
    padding: 0;
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .translated,
  .change-language-div {
    display: none;
  }
}
